div.bg {
	background: green;
}

img.image-bg {
	min-height: 100%;
	min-width: 1024px;

	width: 100%;
	height: auto;

	position: fixed;
	top: 0;
	left: 0;
	
	filter: brightness(40%)
}

.block {
}

.block img {
	position: absolute;
	width: 25%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}