<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
</head>
<body>
	<div class="bg">
		<img src="{{ url_for('static', filename='img/background.jpg') }}" class="image-bg">
	</div>
	<div class="block">
		<img src="{{ url_for('static', filename='img/welcome.jpg') }}">
	</div>
</body>
</html>